@font-face {
    font-family: 'Moon';
    src: url('./fonts/Moon.otf');
}

* {
    font-family: 'Moon', sans-serif;
}
html {
    box-sizing: border-box;
    height: 100%;
}
body {
    box-sizing: border-box;
    height: calc(100% - 16px);
    display: grid;
    grid-template-rows: 15% 70% 15%;
    align-items: center;
    justify-items: center;
}

#title {
    font-size: 5em;
}
#menu {
    display: flex;
    flex-direction: column;
}
#menu button {
    padding: 0.3em;
    font-size: 1.5em;
    width: 9em;
    height: 2.5em;
    margin-bottom: 0.5em;
}
#menu button:last-child {
    margin-bottom: 0;
}